<div ng-cloak style="align-content: center">
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Add Participant</span>
                    <table>
                        <tbody>
                            <tr>
                                
                                <th><label><b>Phone Number</b> </label><input ng-model="addParticipantCtrl.participant_phone" placeholder="Enter Phone Number"></th>
                            </tr>
                            
                            <tbody>
                    </table>
                </div>
                <div>
                <div class="card-action">
                    <a class="waves-effect  red lighten-1 btn-small" ng-click="addParticipantCtrl.Back()">Back</a>
                    
                    <a class="waves-effect  red lighten-1 btn-small" ng-click="addParticipantCtrl.adminPriviledges()">Invite</a>
                </div>
            </div>
        </div>
    </div>
</div>