
<div ng-cloak style="align-content: center">
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title" align="center"><font face = "verdana" size = "5">WELCOME TO MY CHATS</font></span>
                    <table>
                        <tbody>
                            <tr>                       {{test}}              
                               
                            <div class="row">

                            <p align="center"><a class="waves-effect  black lighten-1 btn-small" ng-click="chatMenuCtrl.contactChatsRedirect()">Contact Chats </a></p> 
                            <p></p>            
                            <p align="center"><a class="waves-effect  black lighten-1 btn-small" ng-click="chatMenuCtrl.GroupRedirect()">Group Chats </a></p> 
                        </div> 
                        <tr>
                                                          
                        </tbody>
                    </table>
                </div>
            
        </div>
    </div>

</div>
