<div ng-cloak style="align-content: center">
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Login</span>
                    <table>
                        <tbody>
                            <tr>
                                <th><label> <b>First Name:  </b></label><input ng-model="signupCtrl.first_name" placeholder="Enter First Name"></th>
                            </tr>
                            <tr>
                                <th><label> <b>Last Name:  </b></label><input ng-model="signupCtrl.last_name" placeholder="Enter Last Name" ></th>
                            </tr>
                            <tr>
                                <th><label> <b>Username:  </b></label><input ng-model="signupCtrl.user_name" placeholder= "Enter Username" ></th>
                            </tr>
                            <tr>
                                <th><label> <b>Password:  </b></label><input ng-model="signupCtrl.password" placeholder="Enter Password"></th>
                            </tr>
                            <tr>
                                
                                <th><label> <b>Email:  </b></label><input ng-model="signupCtrl.email" placeholder="Enter Email"></th>
                            </tr>
                            <tr>
                                
                                <th><label> <b>Phone number:  </b></label><input ng-model="signupCtrl.phone" placeholde="Enter Phone"></th>
                            </tr>
                            <tr>
                                
                                <th><label> <b>About Me:  </b></label><input ng-model="signupCtrl.description" placeholder="Enter About me"></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                <div class="card-action">
                    <a class="waves-effect  grey btn-small" href="#/login">Back</a>
                    &nbsp; &nbsp;
                    <a class="waves-effect  red lighten-1 btn-small" ng-click="signupCtrl.signUp()">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>